<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>

<body>
    <section class="error">
        <h1>OOPS, 404</h1>
        <h2>Sadly, we couldn't find the page that you were looking for.</h2>

        <p>Maybe you can find where you're looking for here: <a href="/">HOME</a> </p>
    </section>
</body>

</html>