<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="offline">
    <h1>Oops!</h1>
    <h2>You are offline</h2>
    <p>We could try to redirect you to another page but i'm afraid you need to fix your internet connection first.</p>
    <button onClick="window.location.reload();">Try again</button>

    <section class="cache-links-container">
        <h2>You can still visit these pages:</h2>
    </section>
</body>

</html>